<!doctype html>
<html lang="en">
<body>
<h1>base</h1>

{% if session().isAuthenticated() %}
    <a href="/logout">logout</a>
{% else %}
    <a href="/login">login</a>
{% endif %}

{% if session().hasFlash('success') %}
    <h2>Suc:</h2>
    <ul>
    {% for message in session().getFlash('success') %}
        <li style="">{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if session().hasFlash('error') %}
    <h2>Error:</h2>
    <ul>
        {% for message in session().getFlash('error') %}
            <li style="">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div>
{% block main %} {% endblock %}
</div>
</body>
</html>
