{% extends 'base.html.twig' %}

{% block main %}
<h1>Create Post</h1>
<form action="/posts" method="post">
    <div>
        <input type='text' name='title' />
    </div>

    <div>
        <textarea name='body'></textarea>
    </div>

    <button type='submit' >submit</button
</form>
{% endblock %}
