{% extends 'base.html.twig' %}

{% block main %}
    <h1>login</h1>
    <form action="/login" method="post">
        <input type='text' name='_token' value="{{ session().get('csrf_token') }}" />
        <div>
            username:
            <input type='text' name='username' />
        </div>

        <div>
            Password:
            <input type='text' name='password' />
        </div>

        <button type='submit' >submit</button>
    </form>
{% endblock %}
